/*首页专有模块main start*/
.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    overflow: hidden;
}

/*左右按钮*/
.prev,
.next {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 20px;
    height: 30px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    z-index: 2;
}

.prev {
    left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.next {
    right: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.prev:hover,
.next:hover {
    color: #c81623;
}

.focus img {
    width: 721px;
    height: 455px;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    /*4张图，父亲的4倍400%，加上克隆的一张，改宽一点*/
    width: 600%;
}

.focus ul li {
    float: left;
}

/*小圆圈*/
.circle {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 13px;
    padding: 0 4px;
    background-color: rgba(225, 225, 225, .3);
    border-radius: 7px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.circle .current {
    background-color: #c81623;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    content: '\e666';
    margin-left: 9px;
    font-family: iconfont;
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li a i {
    display: inline-block;
    margin-top: 13px;

}

.lifeservice ul li:nth-child(1) a i {
    background: url('../images/icons.png') no-repeat -17px -16px;
    width: 24px;
    height: 24px;
}

.lifeservice ul li:nth-child(2) a i {
    position: relative;
    background: url('../images/icons.png') no-repeat -78px -16px;
    width: 26px;
    height: 24px;
}

.lifeservice ul li:nth-child(3) a i {
    background: url('../images/icons.png') no-repeat -141px -16px;
    width: 24px;
    height: 24px;
}

.lifeservice ul li:nth-child(4) a i {
    background: url('../images/icons.png') no-repeat -20px -16px;
    width: 26px;
    height: 24px;
}

.lifeservice ul li:nth-child(5) a i {
    background: url('../images/icons.png') no-repeat -17px -88px;
    width: 24px;
    height: 23px;
}

.lifeservice ul li:nth-child(6) a i {
    background: url('../images/icons.png') no-repeat -78px -88px;
    width: 26px;
    height: 23px;
}

.lifeservice ul li:nth-child(7) a i {
    background: url('../images/icons.png') no-repeat -141px -88px;
    width: 24px;
    height: 23px;
}

.lifeservice ul li:nth-child(8) a i {
    background: url('../images/icons.png') no-repeat -206px -88px;
    width: 26px;
    height: 23px;
}

.lifeservice ul li:nth-child(9) a i {
    background: url('../images/icons.png') no-repeat -17px -159px;
    width: 24px;
    height: 27px;
}

.lifeservice ul li:nth-child(10) a i {
    background: url('../images/icons.png') no-repeat -78px -159px;
    width: 26px;
    height: 27px;
}

.lifeservice ul li:nth-child(11) a i {
    background: url('../images/icons.png') no-repeat -141px -159px;
    width: 24px;
    height: 18px;
}

.lifeservice ul li:nth-child(12) a i {
    background: url('../images/icons.png') no-repeat -206px -159px;
    width: 26px;
    height: 27px;
}

.discount {
    position: relative;
}

.discount_icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 15px;
    background: url("../images/discount-icon.png") no-repeat;
}

.bargain {
    margin-top: 5px;
}

/*推荐模块*/
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    position: absolute;
    top: 10px;
    right: 0;
    content: '';
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/*家用电器*/
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    padding: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;
}

.tab_list_item > div {
    float: left;
}

.col_210 {
    width: 210px;
    height: 361px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    text-align: center;
    line-height: 33px;
}

.col_210 ul {
    padding-left: 12px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}





























































